:root {
    --bubble-primary-grey: rgb(180, 180, 180);
    --bubble-secondary-grey: rgb(236, 236, 236);
    --bubble-primary-green: rgb(111, 212, 64);
    --bubble-primary-red: rgb(255, 42, 42);
    --default-black: #333;
}

.bubbleSocialMediaClass {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    z-index: 999999999999;
    max-width: 20vw;
    background: white;
    border-left: 1px solid #EEE;
    padding: 1em;
    overflow-y: auto;
    padding-top: 0;
}

.bubbleSocialMediaClass * {
    font-family: Arial, Helvetica, sans-serif !important;
    color: var(--default-black) !important;
    text-decoration: none !important;
}

.bubbleSocialMediaClass {
    font-size: 16px;
    line-height: 1em;
}

.bubbleSocialMediaClass h1 {
    font-size: 1em;
}

.bubbleSocialMediaClass .bubbleId {
    font-size: 0.85em;
    color: var(--bubble-primary-grey) !important;
    width: 100%;
}

.bubbleSocialMediaClass form {
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.bubbleSocialMediaClass form input[type=submit] {
    color: var(--bubble-primary-grey) !important;
    font-size: 0.95em;
    border: 0;
    margin: 0;
    padding: 0;
    float: right;
    margin-top: 0.25em;
    background: none !important;
    height: auto;
    width: auto;
    cursor: pointer;
}

.bubbleSocialMediaClass form input[type=text] {
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid var(--bubble-primary-grey);
    resize: none;
    padding: 0.25em;
    padding: 0.25em;
}

.bubbleSocialMediaClass form input[type=text] {
    margin-bottom: 1em;
}

.bubbleSocialMediaClass form textarea {
    padding: 0.25em;
    width: 100%;
    height: 10em;
    border-radius: 0.5em;
    border: 1px solid var(--bubble-primary-grey);
    resize: none;
}

.bubbleSocialMediaClass hr {
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 0;
    padding: 0;
    margin: 0; 
    margin-bottom: 1em;
}

.bubbleSocialMediaClass .bubbleNavBar, .bubbleSocialMediaClass .bubbleSubNav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 1em;
    background-color: white;
}

.bubbleSocialMediaClass .bubbleNavBar {
    position: sticky;
    top: 0;
    padding-top: 1em;
}

.bubbleSocialMediaClass .bubbleNavBar a, .bubbleSocialMediaClass .bubbleSubNav a {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.bubbleSocialMediaClass .bubbleNavBar a img, .bubbleSocialMediaClass .bubbleSubNav a img {
    align-self: center
}

.bubbleSocialMediaClass .bubbleNavBar a:hover, .bubbleSocialMediaClass .bubbleSubNav a:hover {
    background-color: var(--bubble-secondary-grey);
    cursor: pointer;
}

.bubbleSocialMediaClass .bubbleNavBar img, .bubbleSocialMediaClass .bubbleSubNav img {
    height: 2em;
    width: auto;
}

.bubbleSocialMediaClass .bubbleCommentStream div {
    margin: 0.25em;
    padding: 1em;
    margin-bottom: 1.5em;
    border-radius: 0.25em;
    background-color: var(--bubble-secondary-grey);
}

.bubbleSocialMediaClass .bubbleFeedPage a {
    margin: 0.25em;
    padding: 1em;
    margin-bottom: 1.5em;
    border-radius: 0.25em;
    display: block;
    max-width: 100%;
    overflow: hidden;
    background-color: var(--bubble-secondary-grey);
}

.bubbleSocialMediaClass .bubbleRequestPage form input[type=submit] {
    float: left;
}

.bubbleSocialMediaClass .followerRequests ul {
    list-style: none;
    padding: 0;
}

.bubbleSocialMediaClass .followerRequests li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    display: inline-block;
}

.bubbleSocialMediaClass .followerRequests li button {
    border: 0;
    border-radius: 1em;
    padding: 0.5em 2em;
    font-size: 0.8em;
    cursor: pointer;
}

.bubbleSocialMediaClass .followerRequests li button:hover {
    filter: brightness(1.05);
}

.bubbleSocialMediaClass .followerRequests li .allowFollowerButton {
    background: var(--bubble-primary-green);
    color: white !important;
}

.bubbleSocialMediaClass .followerRequests li .denyFollowerButton {
    background: var(--bubble-primary-red);
}

.bubbleSocialMediaClass .followerRequests li .denyFollowerButton:hover {
    filter: brightness(1.4);
}